* {
  padding:0;
  margin:0;
	box-sizing:border-box;
}

body {
	background-size: 100% auto;
}
body.fullscreen {
	position:relative;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	/*background:#111 !important;*/
	color:#eee;
  	text-shadow:0 0 10px rgba(0,0,0,.75);
	font-size:16px;
	}

.modal {background:rgba(0, 0, 0, .4)}
.fullscreen .modal, 
.fullscreen .modal-header *,
.fullscreen .modal-body *,
.fullscreen .modal-footer * {visibility: visible !important}

.header a,
.header a:link,
.header a:visited {
	color:#eee;
	}
.header a:hover,
.header a:active,
.header a:focus {
	color:#fff;
	}

.fullscreen .header,
.fullscreen .header *,
#download,
#download * {
	visibility:visible;
	z-index:10;
	}
.fullscreen .fotorama_fullscreen {
	z-index:1 !important;
	}


/* Header */
.fullscreen .fotorama-header {
	position:absolute;
	top:0;
	left:0;
	z-index:200;
	width:100%;
	height:1%;
	}

.fullscreen .logo {
	position:absolute;
	top:10px;
	left:auto;
	width:auto;
  right: 50px;
	text-align:center;
	font-size:32px;
	font-weight:normal;
	color:#fff;
	}

/* Descriptions */
.fotorama .caption {
	position:absolute;
	bottom:10px;
	left:10px;
	padding:6px 8px;
	border-radius:4px;
	color:#fff;
	text-shadow:0 0 1px #000;
	background:#000;
	background:hsla(0,0%,0%,.7);
	}
	.caption__title {
		display:block;
		margin-bottom:6px;
		font-size:13px;
		}
	.caption__location {
		display:block;
		margin-bottom:4px;
		font-size:11px;
		}
	.caption__info {
		display:block;
		font-size:11px;
		color:#ccc;
		color:hsla(0,0%,100%,.6);
		}
	.caption__credit {
		font-size:11px;
		color:#ccc;
		color:hsla(0,0%,100%,.6);
		}
		.caption__credit a,
		.caption__credit a:link,
		.caption__credit a:visited {
			color:#ccc;
			color:hsla(0,0%,100%,.6);
			}
		.caption__credit a:hover,
		.caption__credit a:active,
		.caption__credit a:focus {
			color:#fff;
			}

/* Download button */
#download {
	position:absolute;
	bottom:10px;
	right:10px;
  text-shadow: none;
	}
	#download a {
		display:inline-block;
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:14px;
		}

@media (max-width:960px) {
	.fullscreen .logo {
		font-size:24px;
    left: auto;
    right: 30px;
    width: auto;

	}
}
@media (max-width:840px) {
	.fullscreen .logo {
		top:13px;
		font-size:18px;
    left: auto;
    right: 20px;
    width: auto;
	}
}
@media (max-width:760px) {
	.fullscreen .logo {
		left:auto;
		right:10px;
		width:auto;
	}
}
@media (max-width:640px) {
	.fullscreen .logo {
		top:50px;
		left:0;
		right:auto;
		width:100%;
	}
}


.submenu ul li {
  display: block;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1px;
  padding: 0;
  text-transform: uppercase
}
.submenu ul {
display: none;
}

.submenu:hover {
border: none;
}

.submenu:hover ul {
display: block;
margin: 0;
margin-left: 10px;
padding: 0;
list-style-type: none;
}

.b-menu {
  padding-left: 20px; 
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .4);
}

.b-menu li {
  list-style: none;
  margin: 0 0 .5em;
  padding: 0;
}

.b-menu li a {
  margin-top: 1px;
  margin-right: 1px;
  text-decoration: none;
}

.b-menu li a, .b-menu li .active {
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *display: inline;
  *zoom: 1;
  padding: 5px;
  position: relative;
  
}

.b-menu li a:hover {
  color: #fff
}

.b-menu li {
  display: inline-block; 
  vertical-align: top
}

.b-menu li .active {
  font-weight: 400;
  
  margin-left: 0
}
